.navbar-custom {
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: none;
}

.navbar-scrolled {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #eaeaea;
}

.login-button {
  color: #333 !important;
  font-size: 14px;
  margin-right: 20px;
  font-weight: 500;
}

.login-button:hover {
  color: #007bff !important;
}

.signup-button {
  background-color: #007bff;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  border-radius: 25px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.signup-button:hover {
  background-color: #007bff;
  box-shadow: 0 6px 10px rgba(0, 123, 255, 0.5);
}

.nav-link {
  color: #333 !important;
  font-size: 14px;
  font-weight: 500;
  margin-right: 20px;
}

.nav-link:hover {
  color: #007bff !important;
}
